<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TO-DO APP</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="heading"><%= today %></div>
    <ul class="list-item">
      <% for(var i=0;i<newItems.length;i++){ %>
        <li style="display: inline-block;"><%= newItems[i] %></li>
        <form action="/del" method="post"  style="display: inline;">
          <input type="hidden" name="deleteItem" value="<%= i %>" />
          <button type="submit">Delete</button><br>
        </form>
      <% } %>
    </ul>
    <form action="/add" method="post">
      <label>Input here:</label>
      <input type="text" name="newItem" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
